@font-face {
    font-family: "Science Gothic";
    src: url("fonts/ScienceGothic[YOPQ\,slnt\,wdth\,wght].ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

}

    
body { 
    
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 4) ;
    font-family: "Science Gothic";
    font-style: normal;
    font-weight: normal;
    text-align: center;
   
}
     
#alphabet {
    width: min(100% - 3rem, 30ch);
    margin: auto;
    margin-bottom: 100px;
    border: solid; padding-left: 20px; padding-right: 20px;
   
}
svg {
    width: 300px; 
    height:300px;
}

ul {
    
    list-style-type: none;
   
  }

#downloadasset {
    margin-bottom:125px;
   }

 #font-options {
    width: min(100% - 3rem, 20ch);
    margin: auto;
    margin-bottom: 100px;
    border: solid; padding-left: 20px; padding-right: 20px;
   
    
    
  }

#character-set {
    width: min(100% - 3rem, 80ch);
    margin: auto;
    margin-bottom: 100px;
    border: solid; padding-left: 20px; padding-right: 20px;
   
  }
     
 #history {
text-align: left;
 width: min(100% - 3rem, 80ch);
 margin: 0 auto;
 margin-bottom:100px;
 border: solid; padding-left: 20px; padding-right: 20px;
   
 }

.hero-section {
    font-size: 125px;
    margin-bottom:350px;
    padding-top: 150px;
}

h2 {
    text-align: center;
}


.s {
      animation: s 7s infinite;
   
}

@media (max-wdith: 600px) {
    .hero-section {font-size: 25px;}
}

    

@keyframes s {
    from {
         font-variation-settings: "YOPQ" 18, "slnt" 10, "wdth" 50, "wght" 100;
         
     }
     to { font-variation-settings: "YOPQ" 122, "slnt" 10, "wdth" 150, "wght" 400;}
     
     
 }
    


.first-c {
animation: first-c 7s infinite; 
} 
@keyframes first-c {
    from {
         font-variation-settings: "YOPQ" 18, "slnt" -10, "wdth" 50, "wght" 100;
         
     }
     to { font-variation-settings: "YOPQ" 18, "slnt" 0, "wdth" 80, "wght" 900;}
    
    }

.first-i {
    animation: first-i 7s infinite;
}    

@keyframes first-i {
    from {
         font-variation-settings: "YOPQ" 18, "slnt" 0, "wdth" 50, "wght" 100;
         
     }
     to { font-variation-settings: "YOPQ" 18, "slnt" -10, "wdth" 200, "wght" 400;}
    
    }

.first-e {
    animation: first-e 7s infinite;
}

@keyframes first-e {
    from {
         font-variation-settings: "YOPQ" 18, "slnt" 0, "wdth" 50, "wght" 100;
         
     }
     to { font-variation-settings: "YOPQ" 122, "slnt" -10, "wdth" 70, "wght" 400;}
    
    }



.n{
    animation: n 7s infinite;
}
@keyframes n {
    from {
         font-variation-settings: "YOPQ" 18, "slnt" 0, "wdth" 50, "wght" 900;
         
     }
     to { font-variation-settings: "YOPQ" 60, "slnt" -10, "wdth" 70, "wght" 100;}
    
    }

.second-c {
    animation: second-c 7s infinite;
}

@keyframes second-c {
    from {
         font-variation-settings: "YOPQ" 18, "slnt" -10, "wdth" 50, "wght" 100;
         
     }
     to { font-variation-settings: "YOPQ" 18, "slnt" 0, "wdth" 70, "wght" 300;}
    
    }


.second-e {
    animation: second-e 7s infinite;
}

@keyframes second-e {
    from {
         font-variation-settings: "YOPQ" 18, "slnt" 0, "wdth" 200, "wght" 100;
         
     }
     to { font-variation-settings: "YOPQ" 18, "slnt" 0, "wdth" 50, "wght" 300;}
    
    }



.g{
    animation: g 7s infinite;
}

@keyframes g {
    from {
         font-variation-settings: "YOPQ" 18, "slnt" 0, "wdth" 200, "wght" 100;
         
     }
     to { font-variation-settings: "YOPQ" 122, "slnt" 0, "wdth" 50, "wght" 300;}
    
    }



.o {
    animation: o 7s infinite;
}

@keyframes o {
    from {
         font-variation-settings: "YOPQ" 18, "slnt" 0, "wdth" 75, "wght" 900;
         
     }
     to { font-variation-settings: "YOPQ" 72, "slnt" 0, "wdth" 50, "wght" 100;}
    
    }

.t {
    animation: t 7s infinite;
}

@keyframes t {
    from {
         font-variation-settings: "YOPQ" 18, "slnt" -10, "wdth" 50, "wght" 200;
         
     }
     to { font-variation-settings: "YOPQ" 18, "slnt" 0, "wdth" 150, "wght" 100;}
    
    }


.h {
    animation: h 7s infinite;
}

@keyframes h {
    from {
         font-variation-settings: "YOPQ" 18, "slnt" -7, "wdth" 50, "wght" 100;
         
     }
     to { font-variation-settings: "YOPQ" 56, "slnt" 0, "wdth" 150, "wght" 100;}
    
    }

.second-i {
    animation: second-i 7s infinite;
}

@keyframes second-i {
    from {
         font-variation-settings: "YOPQ" 18, "slnt" 0, "wdth" 200 "wght" 100;
         
     }
     to { font-variation-settings: "YOPQ" 122, "slnt" 0, "wdth" 68, "wght" 100;}
    
    }

.third-c {
    animation: third-c 7s infinite;
    
}
@keyframes third-c {
    from {
         font-variation-settings: "YOPQ" 18, "slnt" 0, "wdth" 200 "wght" 100;
         
     }
     to { font-variation-settings: "YOPQ" 122, "slnt" 0, "wdth" 68, "wght" 100;}
    
    }

   footer {
    padding-top: 50px;
    padding-bottom: 125px;
    bottom: -220px;
   }

   #mail {
    color:rgb(0, 255, 4)
   }
  